* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #588157, #a4161a);
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
}

.number {
  height: 6rem;
  width: 6rem;
  background-color: #52b788;
  font-size: 2rem;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 2rem;
}

.btn-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.audio-on,
.audio-of {
  height: 5rem;
  width: 5rem;
  stroke: #52b788;
}

.audio-of {
  display: none;
}

.reset-btn,
.generate-btn,
.autoBtn,
.stop,
.resume,
.history,
.ticket {
  height: 4rem;
  width: 12rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  border: none;
  background-color: #52b788;
}

.stop,
.resume {
  display: none;
}

.generated-number {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 1px solid #52b788;
  color: #52b788;
  font-size: 5rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.auto {
  height: 3rem;
  width: 8rem;
}

select {
  font-size: 1.4rem;
  outline: none;
}

.history,
.ticket {
  margin: 0.5rem;
}

.history a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.ticket-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 3fr 1fr;
  background: linear-gradient(135deg, #588157, #a4161a);
  justify-items: center;
  align-items: center;
}

.tickets {
  height: 40%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
  font-size: 3rem;
}

.ticket-box {
  border-radius: 2rem;
  border: 1px solid #a4161a;
  background-color: #52b788;
}

.go-back,
.generate-tickets {
  font-size: 1.5rem;
  height: 4rem;
  width: 8rem;
  border-radius: 2rem;
  border: none;
  margin: 0.5rem;
  background-color: #52b788;
}

.go-back a,
.generate-tickets a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1000px) {
  .main-container {
    transform: rotate(90deg);
    grid-template-columns: 2fr 1fr;
  }

  .number {
  }

  .tickets {
    transform: rotate(90deg);
  }

  .ticket-box {
    height: 5rem;
    width: 5rem;
  }
}
